.pagesBlock {
  display: flex;
  justify-content: center;
  max-width: 80vw;
  margin: 5px auto;
  overflow: auto;
}

.selected {
  font-weight: bold;
  margin-left: 5px;
}

.span {
  cursor: pointer;
  margin-left: 5px;
}

.pagesBG{
  background-color: bisque;
}
