.pagesBlock {
  display: flex;
}

.selected {
  font-weight: bold;
}

.pagesBlock {
  display: flex;
  max-width: 80vw;
  margin: 5px auto;
  overflow: auto;
}

.span {
  cursor: pointer;
  margin-left: 3px;
}

.photoBlock {
  display: grid;
  grid-gap: 10px;
  justify-items: center;
}

.user {
  display: flex;
  outline: 1px solid blue;
}

.usersPhoto {
  width: 50px;
}

.btn {
  width: 68px;
}

.userInfo {
  display: flex;
  margin: 5px;
}

.nameStatus {
  margin: 0 15px;
}
